@charset "utf-8";
// @import "_variables";
// @import "_mixins";
// @import "./styles/_variables.scss";

.one_code{
    background: rgb(222, 139, 51) !important;
    margin: 1rem;
    display: block;
}
.guitar-cell-off{
    background-color: grey;
}
